services:
  api:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: eventticketingplatformapi
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/eventdb
      - REDIS_URL=redis://redis:6379/0

    depends_on:
      - db
      - redis

  worker:
    build:
      context: .
      dockerfile: ./Dockerfile.worker
    container_name: event_worker
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/eventdb
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis

  db:
    image: postgis/postgis:15-3.3
    container_name: event_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: eventdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: event_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
